

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

.container {
  
  width: 100%;
}

.head {
  display:flex;
  align-items: center;
  justify-content:space-between ; 
  padding: 10px;
  

}

.container .head .left-nav , .right-nav {
  
  display:flex ;
  align-items: center;
  justify-content: space-between;
}


.head .left-nav .menu-bar{
  
  width: 30px;
}
.head .left-nav .logo-icon {
  
  width: 50px;
}

img {
  width: 100%;
}

.container .search-box {
  
  display: flex;
 align-items: center;
 justify-content: center;
}


.container .search-box input {
  
  
  width: 96%;
  padding: 10px 15px;
  outline: none;
  margin: auto;
  
 ;
 
  
  
  
}

.container .head .right-nav #cart-icon  {
  width: 30px ;
}